@import "tailwindcss";

:root {
  --background: #0f172a;
  --foreground: #94a3b8;
  --tag-background: #134e4a;
  --tag-foreground: #5eead4;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

*{
  font-family: "Fira Sans", "Inter", Arial, Helvetica, sans-serif;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background: var(--background);
  color: var(--foreground);
  font-size: 14px;
}
body::selection{
  background-color: var(--tag-foreground);
  color: #fff;
}
/* navigation styling */
nav > a{
  display: flex;
  align-items: center;
  margin: .5rem 0;
  font-weight: 700;
  font-size: 12px;
}
nav > a.active{
  color: #fff;
}
a:hover{
  color: #fff;
}
a > span{
  display: inline-block;
  width: 40px;
  height: 1px;
  margin-right: .7rem;
  background-color: var(--foreground);
  transition: width .4s ease-in-out;
}
a:hover > span{
  width: 70px;
  background-color: #fff;
  transition: width .4s ease-in-out;
  
}
a.active > span{
  width: 70px;
  background-color: #fff;
}

/* styling for social icons in the nav component */
div.social_links i{
  font-size: 1.5rem;
}
div.social_links{
  color: var(--foreground);
}
div.about p{
  line-height: 1.9;
  margin-bottom: 1rem;
}
div.about b{
  font-weight: bolder;
  color: var(--tag-foreground);
}